@font-face{
	font-family: poppin;
	src:local('Poppins-Medium'),url(../font/Poppins-Medium.ttf) format('woff');
}

@font-face{
	font-family: manrope;
	src:local('manrope'),url(../font/manrope.ttf) format('woff');
}

@font-face{
	font-family: Pyidaungsu;
	src:local('Pyidaungsu'),url(../font/Pyidaungsu.ttf);
}

@font-face{
	font-family: argon;
	src:local('argon'),url(../font/argon.ttf);
}

@font-face{
	font-family: hopong;
	src:local('hopong'),url(../font/hopongv1.ttf);
}

:root{

  
      --primarycolor: #ff65dc;
      
      --secondarycolor: #fee5f9;

      --thirdcolor: #ffa7eb;


      --box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
                          rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
                            rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

      --box-shadow-inset: inset 5px 5px 10px #96c0d9,
      inset -5px -5px 10px #caffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'manrope','argon','poppin','Pyidaungsu',sans-serif;
    user-select: none;
}

body{
  background: var(--secondarycolor);
}
.bg-primarys{
  background: var(--primarycolor);
}

.bg-thirds{
  background: var(--thirdcolor);
}

.btn-primarys{
  background: var(--primarycolor);
}

.btn-secondarys{
  background: var(--secondarycolor);
}

.btn-thirds{
  background: var(--thirdcolor);
}

.text-primarys{
  color: var(--primarycolor);
}

.text-secondary{
  color: var(--secondarycolor);
}


.navbar{
  /* background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)); */
  background: var(--primarycolor);
  padding: 10px 00px;
  
  transition: all 0.7s;
}

.navbar-toggler{
  padding: 4px;
}

.navbar-toggler:focus{
   box-shadow: none;
   outline: 0;
   text-decoration: none;
}

.extencontainer{
  width: 100%;
  height: 100px;
}

.displayfixer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.barndcontainer{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url('../img/logo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  
}

.fz-10{
  font-size: 10px;
}

.brandtext{
  color: #fff;
}

.bannertext{
  line-height: 30px;
  text-align: justify;
}

.icon{
  margin-right: 10px;
}

.navmenus{
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7));
  padding: 10px 5px;
}

.menuitems{
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;

  transition: color 0.5s;
}

.menuitems:hover{
  color: #1a99e8;
}

.lines1,.lines2,.lines3{
  width: 23px;
  height: 3px;
  margin: 5px;

  transition: all 0.3s;
}

.changes .lines1{
  transform: rotate(-45deg) translate(-5px,6px);
}

.changes .lines2{
  opacity: 0;
}

.changes .lines3{
  transform: rotate(45deg) translate(-5px,-6px);
}
/* End Navbar  */

/* Start Banner  */
.banners{
 width: 85%;

 position: absolute;
 top: 50%;
 left: 50%;

 transform: translate(-50%,-50%);
}

.bannerheaders{
  animation-name: bnani;
  animation-duration: 2s;
}

.bannerparagraphs{
  animation-name: bnani;
  animation-duration: 2s;
  animation-delay: 0.5s;

  animation-fill-mode: backwards;
}

@keyframes bnani{
  0%{
      transform: translateX(-100px);
      opacity: 0;
  }

  100%{
      transform: translateX(0);
      opacity: 1;
  }
}

.logoimg{
  width: 40px;
  height: 40px;
  margin-right: 8px;
}


/* End Banner  */


/* End Header  */

/* Start Content  */

.contentboxescontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contentboxes{
  background-color: red;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

/* End Content  */

/* Start Logo Section  */

.logocontainers{
  overflow-x: auto;
  overflow-x: hidden;
  color: white;
}

/* End Logo Section  */

/* Start Search Courses Section  */

.searchbox{
  width: 100%;
  max-width: 300px;
  padding-left: 30px;
  margin-left: 10px;
}

.searchdiv{
  position: relative;
}

.searchicon{
  position: absolute;
  top: 30%;
  left: 5%;


}

.benifiticons{
  font-size: 40px;

}

/* End Search Courses Section  */

/* Start Popular course Section  */

.badge{
  text-align: start;
  line-height: auto;
}


.popularvideocontainer{
  background: var(--primarycolor);

}

.videocontainer{
  
  margin: 5px;
}

.videocontainer:hover{
  background: var(--thirdcolor);
}

.videodescription{
  text-align: justify;
}

/* End Popular Course Section  */

/* Start About Us  */

.aboutusrow{
  background: var(--thirdcolor);
}


.vocationalbox{
  width: 100%;
  height: 400px;
  /* height: 500px; */
  background: url('../img/vocational.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/* End About Us  */

/* Start Footer Section  */

.footerlinks{
  font-size: 13px;
  color: #eee;
  text-decoration: none;

  transition: all 0.3s;
  
}

.footerlinks:hover{
  color: #15a0eb;
}

/* End Footer Section  */


/* Start Jobs Research Community  */

.gotolivechatcontainer{
  height: 50vh;
  font-size: 25px;
}


/* End Jobs Research Community  */

/* start donate section  */
.donateinfobox{
  margin: 20px 0px;
  height: 100px;
  background-color: var(--thirdcolor);

  box-shadow: 1px 1px 5px var(--thirdcolor);
  padding: 10px 20px;

  border-radius: 15px;

}

.donateheader{
  color: black;
  font-weight: bold;
}

.donateinfo{
  font-size: 16px;
}
/* end donate section  */


/*Start Admin Dashboard  */
.loginformContainer{
  border-radius: 10px;
background: #ffa7eb;
box-shadow:  -8px -8px 10px #de91cc,
             24px 24px 31px #ffbdff;
}

.loginbtn{
  border-radius: 25px;
}

#thumbnail-preview img{

  width: 100%;

}

.swiper {
  width: 100%;
  height: 100px;
}

.carousel-cell{
  width: 150px;
  height: 50px;
  background: var(--thirdcolor);
  border-radius: 25px 25px;
  margin: 10px;
  text-align: center;
  line-height: 50px;
}

.flickity-button {
  background: transparent;
  box-sizing: none;
}

.flickity-button:hover{
  background: transparent;
}

.flickity-button:focus {
  outline: none;
  box-shadow: none;
  background: transparent;
}


/* End Admin Dashboard  */

@media only screen and (max-width: 768px) {
  .donateinfo{
    font-size: 14px;
  }
}